/* src/Styles/Audiolibros.css */
.audiolibros-page {
  font-family: Ubuntu, sans-serif;
  text-align: center;
  display: block;
  position: relative;
  text-align: center;
}

.audiobook-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #181818;
  width: 90%;
  margin: auto;
}

.audiobookGalleryTitle {
  position: relative;
  height: 900px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.audiobookGalleryTitle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(16, 16, 16, 0) 30%, #0b0c10 80%);
  z-index: 1;
  /* Coloca el gradiente sobre la imagen */
}

.audiobookGalleryTitle img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* Asegúrate de que la imagen se ajuste al contenedor */
  position: relative;
  z-index: 0;
}

.audiolibros-page h1 {
  position: absolute;
  top: 500px;
  left: 24%;
  transform: translateX(-50%);
  font-size: 5rem;
  color: #ffe400;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  z-index: 2;
  /* Coloca el texto sobre el gradiente */
}

.audiolibros-page-p {
  position: absolute;
  top: 650px;
  left: 24%;
  transform: translateX(-19%);
  font-size: 1.7rem;
  color: aliceblue;
  z-index: 2;
  text-align: justify;
  line-height: 2.5rem;
  letter-spacing: -0.02px;
}


.audiobook-item {
  position: relative;
  cursor: pointer;
  background-color: rgb(247, 251, 255);
  margin: 10px;
  padding: 10px;
  border: 1px dotted #04020e41;
  border-radius: 5px;
  width: 150px;
  height: 290px;
  text-align: center;
}

.audiobook-item:hover {
  border: 1px solid #2d1b5a60;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

.audiobook-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  /* Mueve esta línea fuera del hover */
}

.audiobook-item:hover img {
  transform: scale(1.04);
}

.audiobook-item h2 {
  font-size: 22px;
  color: #181818fa;
  height: 50px;
  /* border: 1px solid #2d1b5a44; */
  margin-bottom: 1px;
}

.audiobook-item p {
  font-size: 14px;
  height: 28px;
  margin-bottom: 8px;
  /* border: 1px solid #2d1b5a44; */
}

.audiobook-item span {
  display: flex;
  position: absolute;
  left: 8px;
  gap: 8px;
  padding-left: 4px;

}

/* src/Components/Styles/Audiolibros.css */
.load-more-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.load-more-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #583fbb;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.load-more-button:hover {
  background-color: #44318d;
}


@media (max-width: 768px) {
  .audiobookGalleryTitle {
    height: 700px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    overflow: hidden;

  }

  .audiobookGalleryTitle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(16, 16, 16, 0) 30%, #0b0c10 80%);
    z-index: 1;

  }

  .audiobookGalleryTitle img {
    height: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .audiolibros-page h1 {
    position: absolute;
    top: 360px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.8rem;
    color: #ffe400;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    z-index: 2;

  }

  .audiolibros-page-p {
    position: absolute;
    width: 75%;
    top: 475px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.25rem;
    font-weight: 200;
    color: aliceblue;
    z-index: 2;
    text-align: left;
    line-height: 1.6rem;
    letter-spacing: -0.02px
  }
}

@media (max-width: 400px) {
  .audiobook-item {
    cursor: pointer;
    background-color: rgb(247, 251, 255);
    margin: 10px;
    padding: 10px;
    border: 1px dotted #04020e41;
    border-radius: 5px;
    width: 35%;
    height: 238px;
    text-align: center;
  }

  .audiobook-item img {
    width: 90%;
    height: auto;
    transition: transform 0.3s ease;

  }

  .audiobook-item h2 {
    font-size: 18px;
    color: #181818fa;
    height: 40px;

  }

  .audiobook-item p {
    font-size: 13px;
    height: 28px;
    margin-bottom: 8px;
  }

  .audiobook-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #181818;
    width: 100%;
  }
}


/* .audio-player {
    margin-top: 20px;
    border: 1px solid #e42d79;
    box-sizing: border-box;
  } */